.example-card {
  cursor: pointer;
}

.example-header-image {

  background-image: url('../../assets/user.png');
  background-size: cover;
}
.image{
  max-height: 66vh;
  width: auto;
  margin: 20px;
}
.content{
  display: flex;
  margin: 20px;
}
