
<mat-card class="example-card"  [routerLink]="['/issues', issue.id]" [class.is-finished]="issue.isFinished">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{issue.title}}</mat-card-title>
    <mat-card-subtitle class="sub-color">At {{date}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{issue.imageUrl}}">
  <mat-card-content>
    <p>
      {{issue.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="onEvent($event)" *ngIf="!issue.isFinished">Mark as finished</button>
    <button mat-raised-button color="warn" (click)="onEvent($event)" *ngIf="issue.isFinished">Mark as unfinished</button>
    <button mat-raised-button color="primary" (click)="onDelete($event)">
      <mat-icon aria-hidden="false">delete</mat-icon>
      </button>
    <button mat-raised-button color="accent" (click)="onUpdate($event)">
      <mat-icon aria-hidden="false">edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
